:root{
    font-family: sans-serif;
    text-align: center;
    color:beige;
    background-color: #222;
}
textarea{
    font-family: sans-serif;
    font-size: large;
    background-color: #222;
    border: 2px solid beige;
    border-radius: 8px;
    color:beige;
    resize: none;
    width: 35vw;
    height: 45vh;
}
button{
    font-size: x-large;
    font-weight: bold;
    background-color: beige;
    color:#222;
    min-width: 5vw;
    min-height: 3vw;
    border-radius: 10px;
}